<div class="articles">
  {% for post in site.posts %}
    {% if forloop.index0 % 3 == 0 %}
      <div class="row">
    {% endif %}

      <div class="four columns">
        <a href="{{ site.baseurl }}{{ post.url }}" class="link">
          <h3>{{ post.title }}</h3>
          <div class="justify">
            {% if post.abstract %}
              {{ post.abstract }}
            {% else %}
              {{ post.content | truncatewords:50 | strip_newlines }}
            {% endif %}
          </div>
        </a>
      </div>

    {% if forloop.index0 % 3 == 2 or forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
</div>
